.h {
	height: 700px;
	padding: 0px !important;
	background-image: url(images/background.jpeg);
}

.score{
	color : white;
	font-size: 35px;
	text-align: center;
}

.score{
	margin: 0 auto;
}
.cookie {
	margin: 0 auto !important;
	height: 50%;
	width: 30%;
}

.cookie:active{
	margin: 0 auto !important;
	height: 55%;
	width: 35%;
}

button {
	margin-left: 570px !important;

}

p{
	color : white;
	font-size: 35px;
	text-align: center;
}